<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gridwatch.plugwatch">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".wit.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".wit.PlugWatchUIActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wit.CommandLineActivity"
            android:label="@string/title_activity_command_line" />

        <service
            android:name=".wit.ConnectionCheckService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".utilities.Reboot"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".firebase.RegisterFirebase">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".inputs.FirebaseAPI">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".callbacks.StartAtBoot"
            android:label="StartAtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".callbacks.StartSMSWatchDogAtBoot"
            android:label="StartAtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".inputs.SMSAPI"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".wit.APIService"
            android:enabled="true"
            android:exported="true" />

        <!-- PROCESS ! -->
        <service
            android:name=".wit.PlugWatchService"
            android:enabled="true"
            android:exported="true"
            android:process=".PlugWatch" />

        <!-- PROCESS ! -->
        <service
            android:name=".wit.WatchdogService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".wit.SMSWatchdogService"
            android:enabled="true"
            android:exported="true" />

        <!-- PROCESS ! -->
        <service
            android:name=".wit.FailsafeTimerService"
            android:enabled="true"
            android:exported="true"
            android:process=".Failsafe" />

        <receiver
            android:name=".network.NetworkJobCreatorReceiver"
            android:exported="false"
            android:process=".PlugWatch">
            <intent-filter>
                <action android:name="com.evernote.android.job.ADD_JOB_CREATOR" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gridWatch.AudioService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".firebase.FirebaseContentProvider"
            android:authorities="gridwatch.wit.firebase"
            android:exported="false"
            android:process=".PlugWatch"
            android:syncable="false" />

        <service
            android:name=".callbacks.NotificationService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".wit.GridWatchStarterService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>